@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  html, body {
  overflow-x: hidden;
}
  box-sizing: border-box;
}


@keyframes sponsor-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.sponsor-scroll {
  animation: sponsor-scroll 25s linear infinite;
}

